In [175]:
# import mysql.connection 
import mysql.connector as connector

In [ ]:
# Establish connection between python and MySQL database via connector APT
connection = connector.connect(
    user = 'root',
    host = 'localhost',
    database = 'little_lemon',
    password = ''
)

In [178]:
#  Create a cursor object
cursor = connection.cursor()

In [ ]:
# The Get Max Quantity procedure is properly implemented
cursor.execute("SELECT MAX(Quantity) FROM Orders;")
results = cursor.fetchall()
for x in results:
    print(x)

(2,)

In [183]:
# The Manage Booking() procedure is properly implemented
create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

In [ ]:
# The Add Booking() procedure is properly implemented
insert_bookings = """
INSERT INTO Bookings
(BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1,12,'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

In [ ]:
# The Update Booking() procedure is properly implemented
update_bookings = """
UPDATE bookings
SET TableNo = 10
WHERE BookingID = 6
"""

In [ ]:
cursor.execute(update_bookings)

In [ ]:
connection.commit()

In [ ]:
# The Cancel Booking() procedure is properly implemented
delete_query_bookingID = """
DELETE FROM bookings
WHERE bookingID = 4
"""

In [ ]:
cursor.execute(delete_query_bookingID)

In [ ]:
connection.commit()

In [ ]:
select_stmt = """ SELECT * FROM bookings;"""

cursor.execute(select_stmt)

In [ ]:
select_billamount = """
SELECT BookingsID, BillAmount
FROM Orders
WHERE BillAmount = 40; 
"""

In [ ]:
# cursor.execute(select_billamount)

In [ ]:
my_sql_query = """
SELECT Orders
WHERE BillAmount >= 40
ORDER BY BillAmount ASC"""